@import url('https://fonts.googleapis.com/css?family=Headland+One&display=swap');
body {
    padding: 0px;
    margin: 0px;
}

/* --------- Backgrounds and Colors -------- */

.page_background {
    background: rgb(252, 252, 252);
}

.class_spellcasting {
    margin: 10px;
    border-bottom: 2px solid red;
}

#player_race {
    padding: 10px;
    margin: 10px;
}

.title_text{
    display: inline-block;
    border: 1px, solid, black;
    text-align: center;
}
h1 {
    text-transform: uppercase;
    margin: auto;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#name_field_container {
    display: flex;
    justify-content: center;
    height: 50vh;
}

#name_field {
    align-self: center;
}

.base_abilities_container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    border-bottom: 1.5px solid black;
}

.abilities_styling, 
.abilities_styling_buy, 
.abilities_styling_sign, 
.abilities_styling_race {
    width: 12.5%;
    text-align: center;
    font-size: 1rem;
    margin: 10px 0px;
    align-self: center;
}

.abilities_styling_buy, .abilities_styling_race {
    width: 23.25%;
}

.abilities_styling_sign {
    width: 5%;
}

.ability_header {
    margin: 0px;
    cursor: pointer;
}

.ability_header:hover {
    color: yellowgreen;
}

.base_abilities_container_footer{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    border-bottom: 1.5px solid black;
}

.abilities_styling_footer_text {
    width: 40%;
    min-height: 100%;
    text-align: center;
    font-size: 1rem;
    margin: 10px 0px;
    align-self: center;
    
} 

.abilities_styling_footer_value {
    min-height: 100%;
    width: 10%;
    font-size: 1rem;
    align-self: center;
}

span {
    padding-left: 10px;
    padding-right: 10px;
}

.ability_buy, .ability_buy_race {
    width: 20px;
    height: 20px;
    padding: 0px;
    background: transparent;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    font-size: 0.8rem;
    display:inline-block;
    align-self: center;
}

.race_info_container {
    background-color: #fdfdea;
    margin: 20px;
    padding: 10px;
    min-height: 50px;
    width: 400px;
    font-family: 'Headland One', serif;
    font-size: 0.7em;
}

.general_info_styling, #abilities_container {
    background-color: #fdfdea;
    margin: 20px;
    padding: 10px;
    min-height: 50px;
    width: 100%;
    font-family: 'Headland One', serif;
    font-size: 0.7em;
    overflow: hidden;
    -moz-box-shadow: 1px 1px 3px 4px #ccc;
    -webkit-box-shadow: 1px 1px 3px 4px #ccc;
    box-shadow: 1px 1px 5px 4px #ccc;
}

#race_info {
    margin: auto;
    margin-top: 25px;
    font-family: 'Headland One', serif;
    font-size: 0.7em;
    padding: 10px;
    background-color: #fdfdea;
    border: 1px solid black;
}

.race_info, .class_info, .class_spellcasting, .abilities_header {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid red;
    background-color: #fdfdea;
    max-height: 152px;
    overflow: auto;
}

.class_info::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.class_info::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    margin-bottom: 20px;
}

.class_info::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

.race_list, .class_list {
    border-radius: 5%;
    margin: 5px;
}

p {
    margin: 0px;
}

.btn_navigation {
    margin: auto;
}

.page_display {
    min-height: 100vh;
    width: 100vw;
}

#class_info_hd_save {
    display: flex;
    justify-content: space-evenly;
}

.class_save_list {
    display: inline-block;
    margin: 0px 10px;
}

.btn_race.current_race, .btn_class.current_class {
    background-color: red;
}

#race_list, #class_list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn_race, .btn_class {
    width: 120px;
    background-color: #fdfdea;
    border: none;
    border-bottom: 2px solid red;
    border-radius: 0px;
    color: black;
    font-family: 'Headland One', serif;
    margin-top: 10px;
    margin-bottom: 10xp;
}

.btn_race:hover, .btn_class:hover {
    background-color: rgba(190, 190, 190, 0.3);
}

.btn_race.current_race:hover, .btn_class.current_class:hover {
    background-color: red;
}

.hidden_page {
    display: none;
}

.current_page {
    display: flex;
}

.class_prof {
    text-align: center;
    min-width: 30%;
    max-width: 45%;
    border-bottom: 1.5px solid black;
    font-size: 0.8rem;
}

.class_prof_container {
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
}