@import url('https://fonts.googleapis.com/css?family=Headland+One&display=swap');
body {
    padding: 0px;
    margin: 0px;
}

.page_background {
    background: rgb(252, 252, 252);
    height: 100%;
}

.character_creator {
    margin: auto;
}

#class_spellcasting {}

.class_spellcasting {
    margin: 10px;
    border-bottom: 2px solid red;
}

#player_race {
    padding: 10px;
    margin: 10px;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px
}

h1 {
    text-transform: uppercase;
    margin: auto;
}

.base_abilities_container {
    margin: 20px;
    display: inline-block;
}

.base_abilities {
    width: 40px;
    height: 40px;
    background-color: #fdfdea;
    border: 1.5px solid #000000;
    border-radius: 15%;
    display: inline-block;
    text-align: center;
    font-family: 'Headland One', serif;
}

.race_info_container {
    background-color: #fdfdea;
    margin: 20px;
    padding: 10px;
    min-height: 50px;
    width: 400px;
    font-family: 'Headland One', serif;
    font-size: 0.7em;
}

.general_info_styling {
    background-color: #fdfdea;
    margin: 20px;
    padding: 10px;
    min-height: 50px;
    min-width: 400px;
    font-family: 'Headland One', serif;
    font-size: 0.7em;
    overflow: hidden;
    -moz-box-shadow: 1px 1px 3px 4px #ccc;
    -webkit-box-shadow: 1px 1px 3px 4px #ccc;
    box-shadow: 1px 1px 5px 4px #ccc;
}

#race_info {
    margin: auto;
    margin-top: 25px;
    font-family: 'Headland One', serif;
    font-size: 0.7em;
    padding: 10px;
    background-color: #fdfdea;
    border: 1px solid black;
}

#class_proficiencies {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.race_info, .class_info, .class_spellcasting {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid red;
    background-color: #fdfdea;
    max-height: 152px;
    overflow: auto;
}

.class_info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.class_info::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    margin-bottom: 20px;
}

.class_info::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

.race_list, .class_list {
    border: none;
    margin: 5px;
    text-decoration: underline;
}

p {
    margin: 0px;
}

.btn_navigation {
    margin: auto;
}

.page_display {
    min-height: 100vh;
    width: 100vw;
}

#class_info_hd_save {
    display: flex;
    justify-content: space-evenly;
}

.class_save_list {
    display: inline-block;
    margin: 0px 10px;
}

#race_list, #class_list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn_race, .btn_class {
    width: 120px;
    background-color: #fdfdea;
    border: none;
    border-bottom: 2px solid red;
    border-radius: 0px;
    color: black;
    font-family: 'Headland One', serif;
}

.hidden_page {
    display: none;
}

.current_page {
    display: flex;
}

.class_prof_container {
    margin: 10px;
}