body {
    padding: 0px;
    margin: 0px;
}

.page_background {
    background: rgb(240, 240, 240);
    height: 100%;
}

.character_creator {
    margin: auto;
}

#player_race {
    padding: 10px;
    margin: 10px;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px
}

h1 {
    text-transform: uppercase;
    margin: auto;
}

.base_stat {
    width: 40px;
    height: 40px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 25%;
    margin: auto;
    display: inline-block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.race_info_container {
    background-color: #ffffff;
    border: 2px solid #000000;
    margin: 20px;
    padding: 10px;
    min-height: 50px;
    width: 400px;
}

p { 
    margin: 0px;
}

.class_skill_list {
    margin: 25px;
}